
.footer {
    background: #034492;
    color: white;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.social_list li {
    margin: 0 1em;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.social_list svg:hover {
    color: #FFBB33;
}

.copyright {
    margin-top: 2em;
    font-weight: 200;
    font-size: 12px;;
}

