
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #034492;
}

.navbar a { 
    height: 64px;
    font-weight: bold;
}

.navbar img {
    width: 64px;
    height: 64px;
    padding: 10px;
    margin-left: 20px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 20px;
}

.sublist {
    display: none;
}

.sublist:active {
    display: flex;
    flex-direction: column;
}

.item {
    margin-right: 1em;
}

.item a {
    font-size: 15px;
    color: white;
    list-style: none;
    text-decoration: none;
    transition: 0.3s;
}

.item a:hover {
    color: #FFBB33;
}

@media screen and (max-width: 800px) {
    .navbar {
        align-items: center;
    }
    
    .item {
        margin-right: 10px;
    }

    .item a { 
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .item {
        margin-right: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}