.ajusteContainer {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solicitaContainer {
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    text-align: left;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #034492;
    box-shadow: 0px 0px 8px 1px gray;

    animation: fade 0.8s ease-in;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.solicitaContainer h1 {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.solicitaForm div {
    padding: 10px 0;
}

.solicitaForm label {
    text-transform: uppercase;
    font-weight: bold;
}

.solicitaForm input {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #999999;
    transition: 0.3s;
}

.solicitaForm input:hover {
    border-bottom: 1px solid #034492;
}

.solicitaForm select {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border: 1px solid #999999;
    transition: 0.3s;
}

.solicitaForm select:hover {
    border: 1px solid #034492;
}

.solicitaBotao {
    text-align: center;
}

.solicitaBotao input {
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #034492;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 5px 5px 9px 5px;
    margin: 20px auto 0 auto;
    width: 200px;
}

@media screen and (max-width: 1600px){
    .solicitaBotao input {
        width: 200px;
    }
}

@media screen and (max-width: 720px) {
    .solicitaContainer {
        width: 80%;
    }
}