* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body, #root {
    background-color: #EFEFEF;
    background-image: url(../src/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
